.home_container {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
    color: white;
    display: flex;
    background: url('../../Assets/home-bg.png') no-repeat;
    background-size: cover;
}

.sidebar_div {
    width: 18.75rem;
    margin-right: 0.7rem;
}

.homepage {
    width: 100%;
}

.homeContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1.5rem;
    width: 40.5rem;
    height: 100%;
}

.homeContent_heading {
    font-size: 3rem;
    font-weight: 700;
}

.homeContent p {
    font-size: 1.2rem;
}

.homeContent li p {
    margin-bottom: 0.9rem;
    font-size: 1rem;
}

.headerImg img {    
    height: 26rem;
    width: 26rem;
    position: absolute;
    right: 5rem;
    bottom: 2rem;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

