.landing_container {
    height: 99.61vh;
}

.container {
    position: relative;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #050815;
    z-index: 2;
}

.earth {
    height: 30rem;
    width: 50%;
    cursor: pointer;
    z-index: 3;
}

.content {
    color: white;
    width: 50%;
    text-align: center;
    margin: 2rem;
    z-index: 3;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.heading {
    animation: showRight;
}

.btnLanding {
    background-color: #ff7f00;
    /* Orange color for buttons */
    color: #ffffff;
    /* White text color for buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.btnLanding:hover {
    background-color: #d66c00;
}