.sidebar {
    height: 100vh;
    width: 18.75rem;
    margin-right: 0.5rem !important;
}

#check {
    display: none;
}

.but_one {
    display: none;
}

.but_one i {
    font-size: 1.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9) !important;
    position: absolute;
    left: 0.95rem;
    line-height: 3.9rem;
    cursor: pointer;
}

.slidebar_menu {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 18.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.slidebar_menu .sidebar-logo {
    position: absolute;
    font-size: 2rem;
    width: 100%;
    line-height: 4rem;
    padding-left: 1rem !important;
    color: white;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.slidebar_menu .but_two i {
    position: absolute;
    left: 16rem;
    top: 0.3rem;
    color: white !important;
    opacity: 0.5;
    font-size: 1.25rem;
    line-height: 3.75rem;
    cursor: pointer;
}

.slidebar_menu .menu {
    color: white;
    position: absolute;
    width: 100%;
    top: 5rem;
}

.slidebar_menu .menu li {
    margin-top: 0.18rem !important;
    padding: 1rem 1.2rem !important;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.6;
}

.slidebar_menu .menu .menu-item {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding-left: 0.5rem !important;
}

.slidebar_menu .social_media {
    position: absolute;
    left: 15%;
    bottom: 1.9rem;
}

.slidebar_menu .social_media .menu-icon {
    color: white;
    opacity: 0.5;
    font-size: 20px;
    font-weight: 500;
    margin-right: 1.5rem !important;
    padding: 5px;
}

.slidebar_menu .social_media .menu-icon:hover {
    size: 1.5625rem;
    opacity: 1;
}

.slidebar_menu .menu li:hover {
    scale: 1.1;
    box-shadow: 0 0 0.5px rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.but_one i:hover {
    font-size: 2rem;
    color: white;
}

.slidebar_menu .but_two i:hover {
    font-size: 1.375rem;
    scale: 1.05;
}

#check:checked~.slidebar_menu {
    left: -19.375rem;
}

#check:checked~.but_one {
    display: block;
}