.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 4.5rem !important;
}

.nav-link {
    font-size: 1.2rem;
    margin-right: 2rem;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.nav-link:hover{
    border-bottom: 2px solid black;
}